/*____                                 _ _                 
 |  _ \         _      /\             | | |                
 | |_) |_   _  (_)    /  \   _ __   __| | |__  _   _ _   _ 
 |  _ <| | | |       / /\ \ | '_ \ / _` | '_ \| | | | | | |
 | |_) | |_| |  _   / ____ \| | | | (_| | | | | |_| | |_| |
 |____/ \__, | (_) /_/    \_\_| |_|\__,_|_| |_|\__, |\__, |
         __/ |                                  __/ | __/ |
        |___/                                  |___/ |___/ */

@font-face {
    font-family: 'RoboConsended'; 
    src: url('RoboConsended.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  min-height: 100vh;
  background-color: #000054;
  font-family: RoboConsended, Arial, sans-serif;
}

.container {

  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  padding: 0 20px; 
  box-sizing: border-box; 
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.result {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.result img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}